header {
    min-height: 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(72, 61, 139,.8);
    padding: 0 30px;
}

header .logo {
    flex: 1;
}

header a {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}

header ul li {
    display: inline-block;
    opacity: 0.7;
    padding: 0 20px;
}

header ul li:hover{
    opacity: 1;
}

.menu {
    display: none;
}

.cart-icon {
    position: relative;
    margin-right: 20px;
}
.cart-icon span {
    background-color: crimson;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: -10px;
    right: -5px;
    padding: 5px 7px;
    font-size: 10px;
}