header {
    min-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(72, 61, 139,.8);
    padding: 0 30px;
}

header .logo {
    flex: 1;
}

header a {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}

header ul li {
    display: inline-block;
    opacity: 0.7;
    padding: 0 20px;
}

header ul li:hover{
    opacity: 1;
}

header ul li img{
    width: 30px;
    height: 30px;
    transform: translateY(10px);
    border-radius: 50%;
}

.menu {
    display: none;
}

.cart-icon {
    position: relative;
    margin-right: 20px;
}
.cart-icon span {
    background-color: crimson;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: -10px;
    right: -5px;
    padding: 5px 7px;
    font-size: 10px;
}

.drop-nav::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 100%;
    background: transparent;
    display: block;
    bottom: -10px;
}


/* --------- Dropdown ---------- */
.drop-nav{
    position: relative;
    padding: 10px 0;
}
.drop-nav a{
    text-transform: capitalize;
    overflow: hidden;
}
.drop-nav .dropdown{
    position: absolute;
    background: #282c34;
    width: 100%;
    width: calc(100% + 30px);
    top: 55px;
    display: none;
    z-index: 400;
}
.drop-nav .dropdown li{
    display: block;
    margin: 10px 0;
}
.drop-nav:hover .dropdown{
    display: block;
}