.products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    margin: 20px 0 40px 0;
}

/* product item */
@import url('../ultils/ProductItem/productitem.css');

.delete-all {
    text-align: right;
    margin: 20px;
}

.delete-all input {
    height: 20px;
    width: 20px;
    transform: translateY(5px);
    margin: 0 10px 0 4px;
}

.delete-all span {
    text-transform: uppercase;
    color: rgb(3 206 178);
    letter-spacing: 1.3px;
    font-weight: 500;
    font-size: 0.9rem;
}

.delete-all button {
    border: 1px solid rgb(70, 220, 20);
    padding: 10px 25px;
    color: rgb(70, 220, 20);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 11px;
}

/* filter css */

.filter_menu {
    width: 100%;
    min-height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #495c70;
}

.filter_menu span {
}

.filter_menu input {
    border: 1px solid #ccc;
    padding: 0 5px;
    height: 30px;
    outline: none;
}

.filter_menu input {
    flex: 1;
    margin: 0 10px;
}

/* Load */

.load_more {
    text-align: center;
}

.load_more button {
    padding: 10px 25px;
    margin-bottom: 20px;
    border: 1px solid #555;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 12px;
    background-color: #83c5b4;
    font-weight: 500;
    color: black;
    border-radius: 6px;
}

.load_more button:hover {
    opacity: 0.8;
    color: white;
    background-color: #333;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-weight: bold;
    outline: 0;
    color: #ccc;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    /* position: relative; */
    display: flex;
    width: 14em;
    height: 2.4em;
    line-height: 2.8;
    background: #2c3e50;
    overflow: hidden;
    border-radius: 0.25em;
}
select {
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    cursor: pointer;
}
/* Arrow */
.select::after {
    content: '\25BC';
    /* position: absolute; */
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
    color: #f39c12;
}

.form-style-4 {
    font-size: 16px;
    background: #495c70;
    border-radius: 6px;
    flex: 1;
    margin: 0 30px;
    padding: 0 26px;
}
.form-style-4 input[type='text'],
.form-style-4 label {
    font-size: 16px;
    color: #fff;
}
.form-style-4 label {
    display: block;
    margin-bottom: 10px;
}
.form-style-4 label > span {
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type='text'] {
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83a4c5;
    width: 550px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}

.form-style-4 input[type='text']:focus {
    border-bottom: 1px dashed #d9ffa9;
}
