.history-page {
    overflow: hidden;
}

.history-page h2, h4 {
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;

}
.history-page table {
    margin: auto;
    width: 100%;
}

.history-page table,th,td,tr {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}

table a {
    color: rgb(3, 125, 206);
    font-weight: 600;
}

.history-page img {
    width: 70px;
    height: 100px;
    object-fit: cover;
}